extends layout

block content
  h1= title
  .nav
    input.score.btn.btn-primary(type="button" value="Score board")
    if team !== 'martharocks'
      input.your.btn.btn-primary(type="button" value="Your answer")
    else
      input.all.btn.btn-primary(type="button" value="Answers")
    form.switch(action='/logout' method='post')
      input.switchteam.btn.btn-info(type="submit" value=(team === 'martharocks' ? "logout": "Switch team"))
    if team !== 'martharocks'
      H3 Go !{team}!
  .show_all
    if answers[0]
      if answer !== undefined
        form.block(action='/score' method="post")
          table
            thead
              tr
                th Team
                th Answer
                th Points
            tbody
              for answer, index in answers
                tr
                  td
                    input.clear(type="text", name=index+100, value=answer.team)
                  td=answer.answer
                  td.pointtd
                    input.points(type="number" name=index)
          input.submitscore.btn.btn-success(type="submit", value="submit scores and clear")
        form(action="/clear", method="post")
          input.delete.btn.btn-danger(type="submit", value="clear")
      else
        p No answers
    else
      p No answers
  .show_your
    form(action="/answer", method="post")
      p
        label Answer: 
          input(type="text", name="answer")
      p
        input.submit.btn.btn-warning(type="submit", value="submit")
  .score_board
    if answers[0]
      .table
          table
            thead
              tr
                th Team
                th Score
            tbody
              for answer in answers
                tr
                  td=answer.team
                  td=answer.score === undefined ? 0 : answer.score
      if team === 'martharocks'
        form(action="/delete" method="post")
          input.delete.btn.btn-danger(type='submit' value="clear teams")
    else
      p No teams
  
